main {
    padding: 0 24px;
}

.submitButton{
    padding: 2rem;
    background-color: white;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.randomFact {
    font-size: 1.2rem;
}

.MuiCardHeader-title{
    font-size: 1.2rem;
}